@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
/* Define custom styles for dark mode */

  body {
    background-color: #1a202c;
  }
  .dark\:bg-gray-900 {
    background-color: #111827;
  }
  .dark\:text-white {
    color: #FFFFFF;
  }
  .dark\:text-sky-400{
    color:#38bdf8

  }
  .dark\:bg-gray-800 {
    background-color: #1F2937;
  }
  .dark\:hover\:bg-gray-700:hover {
    background-color: #374151;
  }

